<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Data Mining Milestone 5</title>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <img src="/static/UM.png" width="80" height="50" class="d-inline-block align-top" alt="" loading="lazy">
	<a class="navbar-brand" style="margin-left:20px" href="#">WQD7005 Data Mining</a>			
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:5000/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Analysis
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://127.0.0.1:5000/analysis2">Analysis 2</a>
          <a class="dropdown-item" href="http://127.0.0.1:5000/analysis3">Analysis 3</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://127.0.0.1:5000/prediction5200.KL">Prediction</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://github.com/choobs96">Github <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.linkedin.com/in/jianweichoo/">LinkedIn <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>>
</nav>

<div class="jumbotron">
  <h1 class="display-4">Data Mining Milestone 5</h1>
  <p class="lead"> Analysis on Top 10 Property Stocks in KLSE Index</p>
  <hr class="my-4">
  <p>In this Milestone, I am going to deploy my analysis/ predictions in Web using Flask</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/choobs96/Data-Mining-Assignment" role="button">Check out previous milestone in my Github</a>
</div>

<div class="container-fluid">
  <u><h1>Top 10 Property Stock sort in KLSE Index</h1></u>
  <h6>Note: Top 10 are selected based on their market cap (RM) </h6>
  {% for table in tables %}
	<h2>{{titles[loop.index]}}</h2>
	{{ table|safe }}
  {% endfor %}
  <p>Overall, we can see that IOIPG (5249.KL) is the largest property developer in Malaysia</p>
  <hr class="my-4">
</div>


<div class="container-fluid">
	<h1><u>Historical Market Price for Top 10 Property Stocks</u></h1>
	<h6>Note: Click on the stock code legend to filter out the stocks</h6>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
	<div>
		<div>
			<div class="chart" id="bargraph">
				<script>
					{% for i in plot %}
					var graphs = {{i | safe}};
					Plotly.plot('bargraph',graphs,{});
					{% endfor %}
				</script>
			</div>
		</div>
	</div>
</div>


</body>


</html>