body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
div.navbar-brand {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }

tr:nth-child(odd)		{ background-color:#eee; }
tr:nth-child(even)	{ background-color:#fff; }

tr:hover            { background-color: #ffff99;}

img {
	height: 500px;
	vertical-align: middle;
}

p {
	display: inline-block
}